<template>
    <div class="container">
        <div class="input-group mb-3 mt-5">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">待辦事項</span>
            </div>
            <form @submit.prevent="handleSubmit" class="d-flex">           
                <input v-model="todo.title" type="text" class="form-control" placeholder="準備要做的任務">
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
             </form>
        </div>
    </div>
</template>    

<script>
export default {
    name: 'todo-form',
    data() {
        return {
            todo: {
                title: '',
                completed: false
            }
        }
    },
    methods: {
        handleSubmit(){
            this.$emit('add:todo', this.todo) //('name',value) https://vuejs.org/v2/guide/components-custom-events.html
        }
    },
}
</script>