<template>
    <div id="app" class="container my-3">

        <div class="card text-center">
            <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                <a class="nav-link active" href="#">All tasks</a>
                </li>
                <li class="nav-item">
                <a class="nav-link " href="#">todo</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">completed</a>
                </li>
            </ul>
            </div>
            <p v-if="todos.length < 1">No record</p>
            <ul class="list-group list-group-flush text-left" v-else>
                <li v-for="todo in todos" :key="todo.id" class="list-group-item">
                    <div class="d-flex">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" :id="todo.id" :checked="todo.completed" @click="markCompleted(todo.id, $event)">
                        <label class="form-check-label" :for="todo.id" :class="{ 'completed': todo.completed}">
                        {{todo.title}}
                        </label>
                    </div>
                    <button type="button" class="close ml-auto" aria-label="Close" @click="$emit('delete:todo', todo.id)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                </li>
               
            <!-- <li class="list-group-item">
                <input type="text" class="form-control">
            </li> -->
            </ul>
            <div class="card-footer d-flex justify-content-between">
            <span>3 items are unfinished</span>
            <a href="#"  @click="$emit('clear:todo')">clear all</a>
            </div>
        </div>
    </div>

</template>


<script>
export default {
    name: 'todo-list',
    props: ['todos'],
    // props: {
    //    todos:Array 
    // }    
    // "todos" is the props name, Array is props type
     //from parent component to child // from App.vue to TodoList.vue
     methods: {
         markCompleted(id, e){
            this.$emit('markCompleted:todo', {id: id, status: e.target.checked})
         }
     },
}
</script>


<style scoped>
.completed {
  text-decoration: line-through
}
</style>