<template>
  <div id="app">
    <TodoForm @add:todo="addTodo"/> <!-- add:todo is a custom event name here @click(this is a predefninded), add:todo is defined by us-->
     <TodoList v-bind:todos="todos" @delete:todo="deleteTodo" @clear:todo="clearTodo" @markCompleted:todo="markTodo"/>   <!--props /// v-bind:todos  <- todos is the name of props  -->

  </div>
</template>

<script>
import TodoList from '@/components/TodoList.vue';
import TodoForm from '@/components/TodoForm.vue';
export default {
  name: 'app',
  components: {
    TodoList,
    TodoForm
  },
  data(){
    return {
      todos: [
        {
          id: 1,
          title:'asdfghh',
          completed:true
        },
        {
          id: 2,
          title:'asdf ssadsd ghh',
          completed:false
        },
        {
          id: 3,
          title:'asddsad dfghh',
          completed:false
        }
      ]
    };
  }, 
  methods: {
    addTodo(todo) {
      let id = this.todos.length + 1;
      const newTodo = {...todo, id};
      this.todos = [...this.todos, newTodo];
    },
    deleteTodo(id){
      //delete logic using filter()
      this.todos = this.todos.filter(function(todo){
          return todo.id !== id;
       });
    },
    clearTodo(){
      this.todos = [];
    },
    markTodo(todoStatus){
      this.todos = this.todos.map(function(todo){
          if(todo.id === todoStatus.id && todoStatus.status){
            return {id: todoStatus.id, title: todo.title, completed: true};
          }

          if(todo.id === todoStatus.id && !todoStatus.status){
            return {id: todoStatus.id, title: todo.title, completed: false};
          }
          return todo;
      });
    }
  },
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
